---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Sculpture from "../../layouts/Sculpture.astro";
import { formatDate } from "../../js/formatDate";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: post,
  }));
  type Props = CollectionEntry<"posts">;
}

const post = Astro.props;
if (!post) {
  return Astro.redirect("/404");
}

const { Content } = await render(post);
---

<Sculpture title={post.data.title} post={post.data}>
  <h1>{post.data.title}</h1>
  <time datetime={post.data.date}>
    {formatDate(post.data.date)}
  </time>
  <Content />
</Sculpture>
