---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Sculpture from "../layouts/Sculpture.astro";
import { CldImage } from "astro-cloudinary";
import { getEntry } from "astro:content";
import { formatShortDate } from "../js/formatDate";

import ArtistIcon from "../assets/artist.svg";
import CalendarIcon from "../assets/calendar.svg";
import TagIcon from "../assets/tag.svg";
import TagList from "../components/TagList.astro";

export async function getStaticPaths() {
  const sculptures = await getCollection("sculptures");
  return sculptures.map((sculpture) => ({
    params: { id: sculpture.id },
    props: sculpture,
  }));
  type Props = CollectionEntry<"sculptures">;
}

const sculpture = Astro.props;
if (!sculpture) {
  return Astro.redirect("/404");
}
const { Content } = await render(sculpture);
const allImages = await getCollection("sculptureImages");
const featuredImage = await getEntry("sculptureImages", sculpture.data.thumbnail);
const images = allImages.filter(
  (image) =>
    image.data.context?.custom?.sculptureId === sculpture.id && image.data.public_id !== featuredImage.data.public_id,
);
---

<Sculpture title={sculpture.data.title} sculpture={sculpture} images={images}>
  <div class="switcher">
    <div class="flow">
      <h1 class="headline">{sculpture.data.title}</h1>
      <div class="sculpture__meta cluster">
        <div class="cluster" style="--space: 0.5rem">
          <CalendarIcon />
          <time datetime={sculpture.data.date} class="clu">
            {formatShortDate(sculpture.data.date)}
          </time>
        </div>
        <div class="cluster" style="--space: 0.5rem">
          <ArtistIcon />
          <a href="https://emilymccracken.com">Emily McCracken</a>
        </div>
        <div class="cluster" style="--space: 0.5rem">
          <TagIcon />
          <TagList tags={sculpture.data.tags} wrapper={false} />
        </div>
      </div>
      <div class="article__content flow prose">
        <Content />
      </div>
    </div>
    <div class="sculpture__feature">
      <CldImage
        class="radius"
        src={featuredImage.data.public_id}
        width={500}
        height={700}
        alt=""
        transition:name={`featured-${sculpture.id}`}
      />
    </div>
  </div>
</Sculpture>
