---
import { Image } from "astro:assets";

import iconChocolate from "../assets/icon-chocolate.png";
import iconEmail from "../assets/icon-email.png";
import iconMap from "../assets/icon-map.png";
import iconPainter from "../assets/icon-painter.png";
import dreamBanner from "../assets/eatxne-caramel-apples-1.jpg";
import roses from "../assets/roses-4.jpg";

const imageSize = 250;
const imageFull = 1600;
---

<div class="page-info">
  <div class="info-intro flow">
    <slot />
  </div>
  <div class="info-blocks">
    <div class="full">
      <Image src={dreamBanner} alt="Email" width={imageFull} height={imageFull} />
    </div>
    <div>
      <Image src={iconChocolate} alt="Chocolate bar" width={imageSize} height={imageSize} />
      <p><strong>100% Edible</strong></p>
    </div>
    <div>
      <Image src={iconMap} alt="Map" width={imageSize} height={imageSize} />
      <p><strong>Made with ❤️ in Vermont</strong></p>
    </div>
    <div class="full">
      <Image src={roses} alt="Email" width={imageFull} height={imageFull} />
    </div>
  </div>
</div>
